
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}

#grid_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 800px 200px 1000px 500px;
    grid-template-areas:
    "he na"
    "se se"
    "if if"
    "va va"
    "fo fo";
}

#links a{
    font-size: 9px;
}

#burger div {
    display: flex;
    height: 5px;
    width: 30px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color: rgb(106, 149, 106) ;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#nav-links li{
    list-style: none;
}
#nav-links a{
   text-decoration: none;
   font-size: 1.25rem;
   letter-spacing: 0.1875rem;
   color: black;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}

#burger {
    margin-right: 40px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-8px, 6px);  
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-8px, -6px);
}

.nav_active {
    transform: translateY(580px);
}

header{
    display: flex;
    grid-area: he;
    background: linear-gradient(90deg, #ab058b, indigo);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

#background_img {
    width: 100%;
    height: 100%; 
}

#slideshow_news{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: se;
    background: whitesmoke;
}

#information_bild{
    width: 80px;
    height: 60px;
    border: solid 1px grey;
}

#information_rutor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    flex-direction: column;
}

.bild_ruta_ring  {
    display: flex;
    height: 80px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
}

.information_ruta {
    display: flex;
    width: 320px;
    height: 105px;
    flex-direction: row;
    justify-content: space-between;
    background: whitesmoke;
}

.information_ruta:hover {
    border: solid 1px black;
    background: white;
}
.text_ruta {
    display: flex;
    height: 80px;
    width: 200px;
    justify-content: center;
    border-bottom: solid 1px grey;
}
.information_text {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: 200px;
}
.datum {
    font-size: 13px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    display: flex;
    height: 100%;
    width: 300px;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#slideshow {
    background:whitesmoke;
    grid-area: sh;
    border: solid 2px grey;
}

#news_link_box {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 300px;
}

#links_news { 
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#arrangemang {
    display: flex;
    grid-area: va;
    background: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

#friidrott_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

#friidrott_rubrik{
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 24px;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    width: 300px;
}

#bilder_pa_friidrott {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 80, 158);
    padding: 10px;
    height: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.bilder_pa_friidrott {
    height: auto;
    background-color: white;
    width: 100%;
    border: black solid 1px;
    border-radius: 10px;
    margin: 5px;
}

.bilder_pa_arrangemang{
    height: auto;
    background-color: white;
    width: 100%;
    border: black solid 1px;
    border-radius: 10px;
    margin: 5px;
}
#arrangemang_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

#arrangemang_rubrik{
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 24px;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    width: 200px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    font-size: 10px;
    border: solid 1px black;
    border-radius: 30px;
    background-color: indigo;
}

#button_text{
    font-size: 20px;
    color: white;

}

.bilder{
    display: flex;
    justify-content: center;
    border: white;
    width: 90px;
}

#bilder_pa_arrangemang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 80, 158);
    padding: 10px;
    height: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}
#friidrott_rubrik{
    font-size: 24px;
}

#varldmasterskapen {
    display: flex;
    background-image: url('../img/athletics_arena.jpg');
    background-size: cover;
    grid-area: if;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#varldmasterskapen_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.varldmasterskapen_rubrik {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#lank_ruta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 230px;
    background: rgb(108, 4, 4);
}

#lank_varldsungdomspelen{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    padding: 20px;
    grid-area: fo;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(32, 32, 32);
    border-top: solid 2px grey;
}


#slideshow_news{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: se;
    background: whitesmoke;
}

#slideshow {
    height: 200px;
    width: 350px;
    background-image: url('img/hurdle.jpg');
}

#adress_section {
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: flex-start;
    flex-direction: column;
}
#kontakt_section {
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: space-around;
    flex-direction: column;
}
#mf_section {
    display: flex;
    height: 150px;
    width: 100px;
    justify-content: flex-start;
    flex-direction: column;

}
#sociala_m_section {
    display: flex;
    height: 100px;
    width: 200px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_rubrik {
    font-size: 13px; 
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text_footer {
    display: flex;
    font-size: 10px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
    display: flex;
    width: 200px;
    padding: 40px;
    justify-content: space-evenly;
}

.fa {
    font-size: 15px;
    padding: 3px;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ea14bc;
    color: white;
}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container{ 
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1500px 2300px 500px;
    grid-template-areas: 
    "he na"   
    "om om"
    "sa sa"
    "fo fo";
}

#om_oss_header{ 
    display: flex;
    grid-area: he;
    background: linear-gradient(90deg, #ab058b, indigo);
    justify-content: flex-end;
    align-items: center;
}

#Om_oss{ 
    display: flex;
    grid-area: om;
    background: whitesmoke;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
    
}

#text_om_oss { 
    display: flex;
    width: 400px;
    height: 1500px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: solid 1px grey;
    background-color: white;
    padding: 30px;
    margin: 20px;
    color: black;
}

#person_bild {
    width: 100%;
    height: auto;
    border: solid 1px grey;
}

#om_oss_rubrik {
    font-size: 26px;
}

#google_maps {
    height: 900px;
    width: 400px;
    border-radius: 10px;
    border: solid 1px grey;
}

p{
    display: flex;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #DEDEDE;
    text-decoration: none;
}

#anstallda_om_oss_text{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sa;
}


#vi_som_jobbar_har {
    display: flex;
    height: auto;
    width: 350px;
    border: solid 2px black;
    border-radius: 10px;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

#arbetare_rutor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
}

#om_jhf {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 300px;
    border-radius: 10px;
    border: solid 1px black;
}

#Kontakta_oss { 
    display: block;
    margin-block-start: 2rem;
    color: #DEDEDE;
}

.arbetare {
    display: flex;
    width: 120px;
    height: 250px;
    border: 3px solid #1f2a1f;
    background-color: white;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
    margin: 20px; 
    border-radius: 10px;
}

#arbetare_text {
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
    
#bild_anstalld { 
    height: auto;
    width: 100%;
    border-bottom: 3px solid #1f2a1f;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

#event_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 500px 900px 500px;
    grid-template-areas: 
    "he na"
    "ca ca"
    "ev ev"
    "fo fo";
}
  
#calendar {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    grid-area: ca;
}
  
#calendar h1 {
    margin: 0;
    margin-bottom: 1rem;
}
  
#calendar_container {
    display: grid;
    grid-gap: 0.5rem;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
  
.current-day {
    background-color: #3a3a3a;
    color: #fff;
}
  
.day:hover {
    background-color: #ddd;
}
  
.day .date {
    font-size: 1.2rem;
}
  
#events {
    grid-area: ev;
    background-color: #f1f1f1;
    padding: 2rem;
}
  
#events h1 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}
  
#events_list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;
}
  
#events_list li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}
  
#events_list li h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
  
#events_list li p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
  
table{
    background-color: lightgrey;
    padding: 10px;
    height: 70%;
    width: 80%;
}

td:hover {
    background: rgb(232, 232, 232);
}

th,td {
    font-weight: bold;
    font-size: 18px;
}

tr{
    text-align: center;
}

#rubrik_kalender {
    font-size: 25px;
    align-items: center;
    color: orange;
}

nav {
    display: flex;
    background-color: indigo;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
}


#burger div {
    display: flex;
    height: 5px;
    width: 30px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    border-top: solid 2px black;
    background-color: indigo;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#links {
    display: none;
}

#nav-links li{
    list-style: none;
}
#nav-links a{
   text-decoration: none;
   font-size: 30px;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}

#burger {
    margin-right: 40px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-8px, 6px);  
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-8px, -6px);
}

.nav_active {
    transform: translateY(580px);
}


#main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 600px 1800px 500px;
    grid-template-areas:
    "he na"
    "tf tf"
    "ts ts"
    "fo fo";
}

#trana_friidrott {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    grid-area: tf;
}

#bilder_friidrott {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 400px;
}
.bilden_till_friidrott {
    border-radius: 20px;
    width: 175px;
    height: auto;
}

#trana_friidrott_text {
    width: 300px;
}

#rubrik_trana_friidrott {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 200px;
    background-color: indigo;
    border-radius: 20px;
}

#lank_friidrottskola {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    background-color: indigo;
    border-radius: 20px;

}

#lank_till_friidrottskola {
    text-decoration: none;
    color: white;
    font-size: 17px;
}


#tekniklager_friidrottskola {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: whitesmoke;
    flex-direction: column;
    grid-area: ts;
}

#friidrottsskola_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

.ruta_rubrik {
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.ruta_for_text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 300px;
    background: rgb(124, 80, 158);
    border: solid 1px black;
    border-radius: 20px;
}

#teknik_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;

}


@media screen and (min-width: 1000px) {

    #grid_wrapper {
        display: grid;
        height: 300vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 550px 300px 700px 300px;
        grid-template-areas:
        "he he"
        "se se"
        "if if"
        "va va"
        "fo fo";
    }
    
    h2 {
        font-size: 25px;
    }
    
    nav {
        display: none;
        grid-area: na;
    }

    header{
        display: flex;
        grid-area: he;
        background: linear-gradient(90deg, #ab058b, indigo);
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px rgb(0, 0, 0);
        color: #fff;
        padding: 1rem;
    }

    nav {
        display: none;
    }
    #background_img {
        width: 100%;
        height: auto; 
    }
    
    #slideshow {
        height: 400px;
        width: 650px;
    }
    
    #slideshow_news{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        grid-area: se;
        background: whitesmoke;
    }
    
    #information_bild{
        width: 100%;
        height: 100%;
    }
    
    #information_rutor {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 500px;
        flex-direction: column;  
    }
    
    .bild_ruta {
        height: 60px;
        width: 95px;
        border: solid 1px grey;
    }
    
    .bild_ruta_ring  {
        display: flex;
        height: 70px;
        width: 105px;
        justify-content: center;
        align-items: center;
        border: solid 1px grey;
    }
    
    .information_ruta {
        display: flex;
        width: 500px;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        background: whitesmoke;
    }
    
    .information_ruta:hover {
        border: solid 1px black;
        background: white;
    }
    .text_ruta {
        display: flex;
        height: 70px;
        width: 375px;
        justify-content: center;
        border-bottom: solid 1px grey;
    }
    .information_text {
        display: flex;
        padding: 5px;
        flex-direction: column;
        justify-content: space-between;
        height: 10px;
        width: 400px;
    }
    .datum {
        font-size: 13px;
        text-decoration: none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h1 {
        display: flex;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #links {
        display: flex;
        height: 100%;
        width: 900px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #slideshow {
        background:whitesmoke;
        grid-area: sh;
        border: solid 2px grey;
    }
    
    #news_link_box {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        width: 500px;
    }
    
    #links_news { 
        text-decoration: none;
        color: rgb(168, 108, 55);
        font-size: 16px;
    }
    #arrangemang {
        display: flex;
        grid-area: va;
        background: whitesmoke;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    
    #friidrott_ruta {
        display: flex;
        height: 500px;
        background-color: indigo;
        width: 400px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
        padding: 10px;
    }
    
    #friidrott_rubrik{
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        font-size: 24px;
        color: white;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        height: 50px;
        width: 300px;
    }
    
    #bilder_pa_friidrott {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(124, 80, 158);
        padding: 10px;
        height: 300px;
        width: 350px;
        border: 1px solid black;
        border-radius: 20px;
    }
    
    .bilder_pa_friidrott {
        height: auto;
        background-color: white;
        width: 100%;
        border: black solid 1px;
        border-radius: 10px;
        margin: 5px;
    }
    
    .bilder_pa_arrangemang{
        height: auto;
        background-color: white;
        width: 100%;
        border: black solid 1px;
        border-radius: 10px;
        margin: 5px;
    }
    #arrangemang_ruta {
        display: flex;
        height: 500px;
        background-color: indigo;
        width: 400px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
        padding: 10px;
    }
    
    #arrangemang_rubrik{
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        color: white;
        font-size: 24px;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        height: 50px;
        width: 300px;
    }
    
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100px;
        font-size: 10px;
        border: solid 1px black;
        border-radius: 30px;
        background-color: indigo;
    }
    
    #button_text{
        font-size: 20px;
        color: white;
    
    }
    
    .bilder{
        display: flex;
        justify-content: center;
        border: white;
        width: 100px;
    }
    
    #bilder_pa_arrangemang {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(124, 80, 158);
        padding: 10px;
        height: 300px;
        width: 350px;
        border: 1px solid black;
        border-radius: 20px;
    }
    
    #varldmasterskapen {
        display: flex;
        background-image: url('../img/athletics_arena.jpg');
        background-size: cover;
        grid-area: if;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #varldmasterskapen_text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
       
    }
    
    .varldmasterskapen_rubrik {
        font-size: 40px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
    
    #lank_ruta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 250px;
        background: rgb(108, 4, 4);
    }
    
    #lank_varldsungdomspelen{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    
    footer{
        display: flex;
        grid-area: fo;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: rgb(32, 32, 32);
        border-top: solid 2px grey;
    }
    
    #adress_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    #kontakt_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    #mf_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    #sociala_m_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .footer_rubrik {
        font-size: 18px; 
        color: grey;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .text_footer {
        font-size: 16px;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #logo {
        display: flex;
        width: 200px;
        height: 20px;
        padding: 10px;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    
    .fa {
        font-size: 30px;
        padding: 12px;
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
      
    .fa:hover {
        opacity: 0.7;
    }
      
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
      
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-instagram {
        background: #ea14bc;
        color: white;
    }
      
    .fa-snapchat-ghost {
        background: #fffc00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    
      
    #container{ 
        display: grid;
        height: 400vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1500px 1600px 300px;
        grid-template-areas: 
        "he he"   
        "om om"
        "sa sa"
        "fo fo";
    }
    
    #om_oss_header{ 
        display: flex;
        grid-area: he;
        background: linear-gradient(90deg, #ab058b, indigo);
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    #Om_oss{ 
        display: flex;
        grid-area: om;
        background: whitesmoke;
        flex-direction: row-reverse;
        padding: 30px;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    #text_om_oss { 
        display: flex;
        width: 500px;
        height: 1300px;
        flex-direction: column;
        align-items: flex-start;
        border: solid 1px grey;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        margin: 20px;
        color: black;
    }
    
    #person_bild {
        width: 100%;
        height: auto;
        border: solid 1px grey;
    }
    
    #om_oss_rubrik {
        font-size: 26px;
    }
    
    #google_maps {
        height: 900px;
        width: 500px;
        border-radius: 10px;
        border: solid 1px grey;
    }
    
    p{
        display: flex;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    #link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        color: #DEDEDE;
        text-decoration: none;
    }
    
    #anstallda_om_oss_text{
        display: flex;
        background-color: whitesmoke;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-area: sa;
    }
    
    
    #vi_som_jobbar_har {
        display: flex;
        height: 1300px;
        width: 1000px;
        border: solid 1px black;
        border-radius: 10px;
        padding: 30px;
        justify-content: space-between;
        background-color: white;
        flex-direction: column;
        align-items: center;
    }
    
    .rubriker {
        font-size: 30px;
    }
    
    #arbetare_rutor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 800px;
        height: 600px;
    }
    
    #om_jhf {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 500px;
        width: 800px;
        border-radius: 10px;
        border: solid 1px black;
    }
    #Kontakta_oss { 
        display: block;
        margin-block-start: 2rem;
        color: #DEDEDE;
    }
    
    .arbetare {
        display: flex;
        width: 150px;
        height: 250px;
        border: 3px solid #1f2a1f;
        background-color: white;
        flex-direction: column ;
        align-items: center;
        justify-content: flex-start;
        margin: 20px; 
        border-radius: 10px;
    }
    
    #arbetare_text {
        display: flex;
        height: 200px;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
        
    #bild_anstalld { 
        height: auto;
        width: 100%;
        border-bottom: 3px solid #1f2a1f;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
    }
    
    header {
        grid-area: he;
        background-color: #3a3a3a;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    header h1 {
        margin: 0;
    }
      
    #links {
        display: flex;
        align-items: center;
    }
      
    #links a {
        color: #fff;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 20px;
    }
      
    #links a:hover {
        color: #f1f1f1;
    }
      
     
    #event_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 800px 300px;
        grid-template-areas: 
        "he he"
        "ca ev"
        "fo fo";
    }
      
    #calendar {
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        grid-area: ca;
    }
      
    #calendar h1 {
        margin: 0;
        margin-bottom: 1rem;
    }
      
    #calendar_container {
        display: grid;
        grid-gap: 0.5rem;
    }
    
    .day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
      
    .current-day {
        background-color: #3a3a3a;
        color: #fff;
    }
      
    .day:hover {
        background-color: #ddd;
    }
      
    .day .date {
        font-size: 1.2rem;
    }
      
    #events {
        grid-area: ev;
        background-color: #f1f1f1;
        padding: 2rem;
    }
      
    #events h1 {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
      
    #events_list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;
        margin: 0 auto;
    }
      
    #events_list li {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 5px;
    }
      
    #events_list li h2 {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
      
    #events_list li p {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
      
    table{
        background-color: lightgrey;
        padding: 10px;
        height: 70%;
        width: 80%;
    }
    
    td:hover {
        background: rgb(232, 232, 232);
    }
    
    th,td {
        font-weight: bold;
        font-size: 18px;
    }
    
    tr{
        text-align: center;
    }
    
    #rubrik_kalender {
        font-size: 25px;
        align-items: center;
        color: orange;
    }
    
    #galleri_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1000px 300px;
        grid-template-areas: 
        "he he"
        "ma ma" 
        "fo fo";
    }
    
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
        grid-area: ma;
    }
      
    #galleri {
        text-align: center;
        font-size: 36px;
    }
      
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
      
    .gallery img {
        width: calc(33.33% - 10px);
        margin-bottom: 20px;
    }
      
    #load-more {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
    }
      
    #load-more:hover {
        background-color: #333;
    }
    
    
    #main_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 600px 900px 300px;
        grid-template-areas:
        "he he"
        "tf tf"
        "ts ts"
        "fo fo";
    }
    
    #trana_friidrott {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: whitesmoke;
        padding: 20px;
        grid-area: tf;
    }
    
    #bilder_friidrott {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 500px;
    }
    .bilden_till_friidrott {
        border-radius: 20px;
        width: 200px;
        height: auto;
    }
    
    #trana_friidrott_text {
        width: 500px;
    }
    
    #rubrik_trana_friidrott {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: white;
        height: 100px;
        width: 400px;
        background-color: indigo;
        border-radius: 20px;
    }
    
    #lank_friidrottskola {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 90px;
        width: 600px;
        background-color: indigo;
        border-radius: 20px;
    
    }
    
    #lank_till_friidrottskola {
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    
    
    #tekniklager_friidrottskola {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: whitesmoke;
        flex-direction: row;
        grid-area: ts;
    }
    
    #friidrottsskola_ruta {
        display: flex;
        height: auto;
        background-color: indigo;
        width: 500px;
        height: 800px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
      
    }
    
    .ruta_rubrik {
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        font-size: 24px;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        width: 300px;
    }
    
    .ruta_for_text {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: auto;
        width: 400px;
        background: rgb(124, 80, 158);
        border: solid 1px black;
        border-radius: 20px;
    }
    
    #teknik_ruta {
        display: flex;
        height: auto;
        background-color: indigo;
        width: 500px;
        height: 800px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: lightcyan;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .nav_active {
        transform: translateY(0px);
    }

    
}