*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}

#grid_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 800px 200px 1000px 700px;
    grid-template-areas:
    "he na"
    "se se"
    "if if"
    "va va"
    "fo fo";
}


#webbsite_logo {
    font-size: 34pt;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}


#links a {
    font-size: 8pt;
    font-family: 'Lato', sans-serif;
}

#burger div {
    display: flex;
    height: 5px;
    width: 30px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color: rgb(106, 149, 106) ;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#nav-links li{
    list-style: none;
}

#nav-links a{
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   font-size: 32pt;
   letter-spacing: 0.1875rem;
   color: white;
   font-weight: bold;
}

#burger {
    margin-right: 40px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-8px, 6px);  
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-8px, -6px);
}

.nav_active {
    transform: translateY(580px);
}

header{
    display: flex;
    grid-area: he;
    background: linear-gradient(90deg, #ab058b, indigo);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

.information_bild{
    object-fit: contain;
    width: 90px;
    height: auto;
    border-radius: 10px;
    border: solid 1px black;
}

#information_rutor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    flex-direction: column;
}

.bild_ruta_ring  {
    display: flex;
    height: 65px;
    width: 100px;
    justify-content: center;
    padding-top: 3px;
    align-items: center;
}

.information_ruta {
    display: flex;
    width: 320px;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
}

.information_ruta:hover {
    border: solid 1px black;
    border-radius: 10px;
    background: white;
}
.text_ruta {
    display: flex;
    height: 65px;
    width: 200px;
    justify-content: center;
    border-bottom: solid 1px black;
}
.information_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    width: 200px;
}
.datum {
    font-size: 10pt;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

h1 {
    display: flex;
    font-family: 'Playfair Display', serif;
}

#links {
    display: flex;
    height: 100%;
    width: 300px;
    font-size: 10pt;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#news_link_box {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 300px;
}

.links_news { 
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 12pt;
}

#arrangemang {
    display: flex;
    grid-area: va;
    background: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}
#text_a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 210px;
    font-family: 'Lato', sans-serif;
    color: white;
}

#arrangemang_text {
    font-family: 'Lato', sans-serif;
    color: white;
}

#friidrott_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

#friidrott_rubrik{
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 21pt;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    width: 300px;
}

#bilder_pa_friidrott {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 80, 158);
    padding: 10px;
    height: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.bilder_pa_friidrott {
    height: auto;
    background-color: white;
    width: 100%;
    border: black solid 1px;
    border-radius: 10px;
    margin: 5px;
}

.bilder_pa_arrangemang{
    height: auto;
    background-color: white;
    width: 100%;
    border: black solid 1px;
    border-radius: 10px;
    margin: 5px;
}

#arrangemang_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 370px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

#arrangemang_rubrik{
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 21pt;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    width: 220px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 110px;
    font-size: 10pt;
    border: solid 1px black;
    border-radius: 30px;
    background-color: indigo;
}

.button_text{
    font-size: 21pt;
    color: white;
    font-family: 'Lato', sans-serif;
}

#arrangemang_text_bild {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;

}

#bilder_arrangemang {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: white;
    width: 90px;
}

.bilder{
    display: flex;
    justify-content: center;
    border: white;
    width: 90px;
}

#bilder_pa_arrangemang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 80, 158);
    padding: 10px;
    height: auto;
    width: 330px;
    border: 1px solid black;
    border-radius: 20px;
}


#varldmasterskapen {
    display: flex;
    background-image: url('../img/athletics_arena.jpg');
    background-size: cover;
    grid-area: if;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#varldmasterskapen_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.varldmasterskapen_rubrik {
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
    color: white;
}

#lank_ruta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 230px;
    background: rgb(108, 4, 4);
}

#lank_varldsungdomspelen{
    font-size: 15pt;
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    padding: 20px;
    grid-area: fo;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(32, 32, 32);
    border-top: solid 2px grey;
}


#slideshow_news{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: se;
    background: whitesmoke;
}

#slideshow_area{
    display: flex;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

#slideshow {
    height: auto;
    width: 400px;
    object-fit: contain;
    border-radius: 10px;
    border: solid grey 2px;
}

#adress_section {
    display: flex;
    height: 130px;
    width: 200px;
    justify-content: flex-start;
    flex-direction: column;
}
#kontakt_section {
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    flex-direction: column;
}
#mf_section {
    display: flex;
    height: 300px;
    width: 100px;
    justify-content: flex-start;
    flex-direction: column;

}
#sociala_m_section {
    display: flex;
    height: 200px;
    width:300px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_rubrik {
    font-size: 18pt; 
    color: white;
    font-family:'Playfair Display', serif;
}

.text_footer {
    display: flex;
    font-size: 13pt;
    color: white;
    font-family:'Lato', sans-serif;
}

#logo {
    display: flex;
    width: 300px;
    padding: 40px;
    justify-content: space-evenly;
}

.fa {
    font-size: 15px;
    padding: 7px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ea14bc;
    color: white;
}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#container{ 
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1500px 2300px 700px;
    grid-template-areas: 
    "he na"   
    "om om"
    "sa sa"
    "fo fo";
}


h2 {
    font-size: 21pt;
    font-family: 'Playfair Display', serif; 
}


#om_oss_header{ 
    display: flex;
    grid-area: he;
    background: linear-gradient(90deg, #ab058b, indigo);
    justify-content: flex-end;
    align-items: center;
}

#Om_oss{ 
    display: flex;
    grid-area: om;
    background: whitesmoke;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
    
}

#text_om_oss { 
    display: flex;
    width: 400px;
    height: 1700px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: solid 1px black;
    background-color: white;
    padding: 30px;
    margin: 20px;
    color: black;
}

#person_bild {
    width: 333px;
    height: 500px;
    border-radius: 10px;
    border: solid 1px grey;
}

#om_oss_rubrik {
    font-size: 34pt;
    font-family: 'Playfair Display', serif;
}

.om_oss_underrubrik {
    font-size: 16pt;
    font-family: 'Playfair Display', serif;
}

.yrke{
    font-size: 14pt;
    font-family: 'Playfair Display', serif;
}

#google_maps {
    height: 900px;
    width: 400px;
    border-radius: 10px;
    border: solid 1px grey;
}

p{
    display: flex;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Lato', sans-serif;
    font-size: 1.5rem;
    color: #DEDEDE;
    text-decoration: none;
}

#rubrik {
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
}

#anstallda_om_oss_text{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sa;
}


#vi_som_jobbar_har {
    display: flex;
    height: auto;
    width: 400px;
    border: solid 2px black;
    border-radius: 10px;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

#arbetare_rutor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
}

#om_jhf {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 300px;
    border-radius: 10px;
    border: solid 1px black;
}

#Kontakta_oss { 
    display: block;
    margin-block-start: 2rem;
    color: #DEDEDE;
}

.arbetare {
    display: flex;
    width: 125px;
    height: 250px;
    border: 3px solid #1f2a1f;
    background-color: white;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
    margin: 20px; 
    border-radius: 10px;
}

#arbetare_text {
    display: flex;
    height: 200px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
    
.bild_anstalld { 
    object-fit: contain;
    height: 163px;
    width: 120px;
    border-bottom: 3px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.namn_arbetare {
    font-size: 11pt;
    font-family: 'Lato', sans-serif;
}

#event_wrapper {
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 900px 500px 600px 300px 700px;
    grid-template-areas: 
    "he na"
    "ev ev"
    "ca ca"
    "fu fu"
    "mf mf"
    "fo fo";
}
  
#tavlingar_rubrik {
    font-size: 34pt;
    font-family: 'Playfair Display', serif; 
}

#calendar {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    grid-area: ca;
}
  
#calendar h2 {
    margin: 0;
    margin-bottom: 1rem;
}
  
#calendar_container {
    display: grid;
    grid-gap: 0.5rem;
}


.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
  
.current-day {
    background-color: #3a3a3a;
    color: #fff;
}
  
.day:hover {
    background-color: #ddd;
}
  
.day .date {
    font-size: 1.2rem;
}
  
#events {
    grid-area: ev;
    background-color: #f1f1f1;
    padding: 2rem;
}
  
#events h2 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}
  
#events_list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;
}
  
#events_list li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}
  
#events_list li h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}
  
#events_list li p {
    margin: 0;
    margin-bottom: 0.5rem;
}
  
table{
    background-color: lightgrey;
    padding: 10px;
    height: 70%;
    width: 80%;
}

td:hover {
    background: rgb(232, 232, 232);
}

th,td {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
}

tr{
    text-align: center;
}

#rubrik_kalender {
    font-size: 21pt;
    align-items: center;
    color: black;
}

#funktionar {
    grid-area: fu;
    background-color: #f1f1f1;
    padding: 2rem;
}

#funktionar h2 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}

#funktionar form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

#funktionar label {
    font-weight: bold;
}

#funktionar input,
#funktionar textarea {
    width: 100%;
    padding: 0.5rem;
}

#funktionar button {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#funktionar button:hover {
    background-color: #000;
}

#mer_info {
    grid-area: mf;
    background-color: #f1f1f1;
    padding: 2rem;
}

#mer_info h2 {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

#mer_info p {
    margin: 0;
    margin-bottom: 1rem;
}

#mer_info ul {
    list-style: none;
    padding: 0;
}

#mer_info ul li {
    margin-bottom: 0.5rem;
}

#mer_info ul li a {
    color: #3a3a3a;
    text-decoration: none;
}

#mer_info ul li a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    background-color: indigo;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
}



#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    border-top: solid 2px black;
    background-color: indigo;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#links {
    display: none;
}

#nav-links li{
    list-style: none;
}


#burger {
    margin-right: 40px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-8px, 6px);  
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-8px, -6px);
}

.nav_active {
    transform: translateY(580px);
}


#main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 600px 2000px 700px;
    grid-template-areas:
    "he na"
    "tf tf"
    "ts ts"
    "fo fo";
}

.avgift_rubrik {
    color: white;
    font-size: 18pt;
    font-family: 'Playfair Display';
}

.tekniklager_friidrottskola_text {
    color: white;
}

#trana_friidrott {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    grid-area: tf;
}

#bilder_friidrott {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 400px;
}
.bilden_till_friidrott {
    border-radius: 20px;
    width: 175px;
    height: auto;
}

#trana_friidrott_text {
    width: 300px;
}

#rubrik_trana_friidrott {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 350px;
    font-size: 26pt;
    font-family: 'Playfair Display', serif;
    background-color: indigo;
    border-radius: 20px;
}

#lank_friidrottskola {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 280px;
    background-color: indigo;
    border-radius: 20px;

}

#lank_till_friidrottskola {
    text-decoration: none;
    color: white;
    font-size: 17pt;
}


#tekniklager_friidrottskola {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: whitesmoke;
    flex-direction: column;
    grid-area: ts;
}

#friidrottsskola_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
}

.ruta_rubrik {
    display: flex;
    align-items: center;
    background-color: rgb(124, 80, 158);
    justify-content: center;
    font-size: 21pt;
    font-family: 'Playfair Display', serif;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.ruta_for_text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 300px;
    background: rgb(124, 80, 158);
    border: solid 1px black;
    border-radius: 20px;
}

#teknik_ruta {
    display: flex;
    height: auto;
    background-color: indigo;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;

}


@media screen and (min-width: 1000px) {

    #grid_wrapper {
        display: grid;
        height: 300vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 550px 300px 700px 300px;
        grid-template-areas:
        "he he"
        "se se"
        "if if"
        "va va"
        "fo fo";
    }

    #webbsite_logo {
        font-size: 34pt;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: white;
    }
    
    h2 {
        font-size: 34pt;
        font-family: 'Playfair Display', serif; 
    }
    
    nav {
        display: none;
        grid-area: na;
    }

    header{
        display: flex;
        grid-area: he;
        background: linear-gradient(90deg, #ab058b, indigo);
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px rgb(0, 0, 0);
        color: #fff;
        padding: 1rem;
    }

    nav {
        display: none;
    }
    
    #slideshow_area{
        display: flex;
        height: 400px;
        width: 650px;
        justify-content: center;
        align-items: center;
    }
    
    #slideshow {
        height: auto;
        width: 650px;
        object-fit: contain;
        border: solid grey 2px;
    }
    
    #slideshow_news{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        grid-area: se;
        background: whitesmoke;
    }
    
    .information_bild{
        width: 100%;
        height: 100%;
    }
    
    #information_rutor {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        width: 500px;
        flex-direction: column;  
    }

    
    .bild_ruta_ring  {
        display: flex;
        height: 70px;
        width: 105px;
        justify-content: center;
        align-items: center;
    }
    
    .information_ruta {
        display: flex;
        width: 500px;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        background: whitesmoke;
    }
    
    .information_ruta:hover {
        border: solid 1px black;
        border-radius: 10px;
        background: white;
    }
    .text_ruta {
        display: flex;
        height: 70px;
        width: 375px;
        justify-content: center;
        border-bottom: solid 1px grey;
    }
    .information_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10px;
        width: 400px;
    }
    .datum {
        font-size: 10pt;
        text-decoration: none;
        font-family:'Lato', sans-serif;
    }

   

    #links {
        display: flex;
        height: 100%;
        width: 1000px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #slideshow {
        background:whitesmoke;
        grid-area: sh;
        border: solid 2px grey;
    }
    
    #news_link_box {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        width: 500px;
    }
    
    .links_news { 
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: black;
        font-size: 13pt;
    }

    #arrangemang {
        display: flex;
        grid-area: va;
        background: whitesmoke;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    
    #friidrott_ruta {
        display: flex;
        height: 500px;
        background-color: indigo;
        width: 500px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
        padding: 10px;
    }
    
    #friidrott_rubrik{
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        color: white;
        font-size: 34pt;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        height: 70px;
        width: 450px;
    }
    
    #bilder_pa_friidrott {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(124, 80, 158);
        padding: 10px;
        height: 300px;
        width: 400px;
        border: 1px solid black;
        border-radius: 20px;
    }
    
    #arrangemang_text_bild {
        display: flex;
        justify-content: space-evenly;
        height: 200px;
        width: 400px;
        flex-direction: row;
        flex-wrap: wrap;
    
    }

    .bilder_pa_friidrott {
        height: auto;
        background-color: white;
        width: 100%;
        border: black solid 1px;
        border-radius: 10px;
        margin: 5px;
    }
    
    .bilder_pa_arrangemang{
        height: auto;
        background-color: white;
        width: 100%;
        border: black solid 1px;
        border-radius: 10px;
        margin: 5px;
    }

    #arrangemang_ruta {
        display: flex;
        height: 500px;
        background-color: indigo;
        width: 500px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
        padding: 10px;
    }

    .arrangemang_text {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 13pt;
    }
    
    #arrangemang_rubrik{
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        color: white;
        font-size: 34pt;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        height: 70px;
        width: 350px;
    }
    
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 90px;
        font-size: 10pt;
        border: solid 1px black;
        border-radius: 30px;
        background-color: indigo;
    }
    
    .button_text{
        font-size: 13pt;
        color: white;
    }
    
    .bilder{
        display: flex;
        justify-content: center;
        border: white;
        width: 120px;
    }

    #text_a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 210px;
        font-family: 'Lato', sans-serif;
        color: white;
    }
    
    #bilder_arrangemang {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: white;
        width: 90px;
    }
    #bilder_pa_arrangemang {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(124, 80, 158);
        padding: 10px;
        height: 300px;
        width: 400px;
        border: 1px solid black;
        border-radius: 20px;
    }
    
    #varldmasterskapen {
        display: flex;
        background-image: url('../img/athletics_arena.jpg');
        background-size: cover;
        grid-area: if;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #varldmasterskapen_text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
       
    }
    
    .varldmasterskapen_rubrik {
        font-size: 55pt;
        font-family:'Playfair Display', serif;
        color: white;
    }
    
    #lank_ruta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 250px;
        background: rgb(108, 4, 4);
    }
    
    #lank_varldsungdomspelen{
        font-size: 13pt;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: white;
    }
    
    footer{
        display: flex;
        grid-area: fo;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: rgb(32, 32, 32);
        border-top: solid 2px grey;
    }
    
    #adress_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    #kontakt_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    #mf_section {
        display: flex;
        height: 200px;
        width: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    #sociala_m_section {
        display: flex;
        height: 200px;
        width: 400px;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .footer_rubrik {
        font-size: 21pt; 
        color: white;
        font-family: 'Playfair Display', serif;
    }
    
    .text_footer {
        font-size: 13pt;
        color: white;
        font-family: 'Lato', sans-serif;
    }
    
    #logo {
        display: flex;
        width: 200px;
        height: 20px;
        padding: 10px;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    
    .fa {
        font-size: 30px;
        padding: 12px;
        height: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
      
    .fa:hover {
        opacity: 0.7;
    }
      
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
      
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-instagram {
        background: #ea14bc;
        color: white;
    }
      
    .fa-snapchat-ghost {
        background: #fffc00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    
      
    #container{ 
        display: grid;
        height: 400vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1800px 1600px 300px;
        grid-template-areas: 
        "he he"   
        "om om"
        "sa sa"
        "fo fo";
    }

    #om_oss_header{ 
        display: flex;
        grid-area: he;
        background: linear-gradient(90deg, #ab058b, indigo);
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    #Om_oss{ 
        display: flex;
        grid-area: om;
        background: whitesmoke;
        flex-direction: row-reverse;
        padding: 30px;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    #text_om_oss { 
        display: flex;
        width: 600px;
        height: 1700px;
        flex-direction: column;
        align-items: flex-start;
        border: solid 1px grey;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        margin: 20px;
        color: black;
    }
    
    #person_bild {
        width: 540px;
        height: 900px;
        border-radius: 10px;
        border: solid 1px grey;
    }
    
    #om_oss_rubrik {
        font-size: 55pt;
        font-family: 'Playfair Display', serif; 
    }
    
    #google_maps {
        height: 900px;
        width: 400px;
        border-radius: 10px;
        border: solid 1px grey;
    }
    
    p{
        display: flex;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    #link {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family:'Lato', sans-serif;
        font-size: 1.5rem;
        color: #DEDEDE;
        text-decoration: none;
    }
    
    #anstallda_om_oss_text{
        display: flex;
        background-color: whitesmoke;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-area: sa;
    }
    
    
    #vi_som_jobbar_har {
        display: flex;
        height: 1500px;
        width: 800px;
        border: solid 1px black;
        border-radius: 10px;
        padding: 30px;
        justify-content: space-between;
        background-color: white;
        flex-direction: column;
        align-items: center;
    }
    
    #rubrik {
        font-size: 34pt;
        font-family: 'Playfair Display', serif;
    }

    .om_oss_underrubrik {
        font-size: 21pt;
        font-family: 'Playfair Display', serif;
    }

    .yrke {
        font-size: 21pt;
        font-family: 'Playfair Display', serif;
    }
    
    #arbetare_rutor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
        height: 650px;
    }
    
    #om_jhf {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 600px;
        width: 600px;
        border-radius: 10px;
        border: solid 1px black;
    }
    #Kontakta_oss { 
        display: block;
        margin-block-start: 2rem;
        color: #DEDEDE;
    }
    
    .arbetare {
        display: flex;
        width: 170px;
        height: 300px;
        border: 3px solid #1f2a1f;
        background-color: white;
        flex-direction: column ;
        align-items: center;
        justify-content: flex-start;
        margin: 10px; 
        border-radius: 10px;
    }
    
    #arbetare_text {
        display: flex;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
        
    .bild_anstalld { 
        height: 222px;
        width: 167px;
        border-bottom: 3px solid #1f2a1f;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    
    header {
        grid-area: he;
        background-color: #3a3a3a;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    #links {
        display: flex;
        align-items: center;
    }
      
    #links a {
        color: #fff;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 16pt;
    }
      
    #links a:hover {
        color: #f1f1f1;
    }
      
     
    #event_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 800px 600px 300px 300px;
        grid-template-areas: 
        "he he"
        "ca ev"
        "fu fu"
        "mf mf"
        "fo fo";
    }

    #tavlingar_rubrik {
        font-size: 34pt;
        font-family: 'Playfair Display', serif; 
    }
      
    #calendar {
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        grid-area: ca;
    }
      
    #calendar h2 {
        margin: 0;
        margin-bottom: 1rem;
    }
      
    #calendar_container {
        display: grid;
        grid-gap: 0.5rem;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: 13pt;
    }
    
    .day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
      
    .current-day {
        background-color: #3a3a3a;
        color: #fff;
    }
      
    .day:hover {
        background-color: #ddd;
    }
      
    .day .date {
        font-size: 1.2rem;
    }
      
    #events {
        grid-area: ev;
        background-color: #f1f1f1;
        padding: 2rem;
    }
      
    #events h2 {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
      
    #events_list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;
        margin: 0 auto;
    }

    #events_list li:hover {
        background-color: gray;
    }
      
    #events_list li {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 5px;
    }
      
    #events_list li h2 {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 21pt;
    }
      
    #events_list li p {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 13pt;
    }
      
    table{
        background-color: lightgrey;
        padding: 10px;
        height: 70%;
        width: 80%;
    }
    
    td:hover {
        background: rgb(232, 232, 232);
    }
    
    th,td {
        font-weight: bold;
        font-size: 18pt;
    }
    
    tr{
        text-align: center;
    }
    
    #rubrik_kalender {
        font-size: 21pt;
        align-items: center;
        color: black;
    }

    #funktionar {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: fu;
        background-color: #f1f1f1;
        padding: 2rem;
    }
    
    #funktionar h2 {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    #funktionar form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        max-width: 400px;
        margin: 0 auto;
    }
    
    #funktionar label {
        font-weight: bold;
    }
    
    #funktionar input,
    #funktionar textarea {
        width: 100%;
        padding: 0.5rem;
    }
    
    #funktionar button {
        background-color: #3a3a3a;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    #funktionar button:hover {
        background-color: #000;
    }
    
    #mer_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: mf;
        background-color: #f1f1f1;
        padding: 2rem;
    }
    
    #mer_info h2 {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    #mer_info p {
        margin: 0;
        margin-bottom: 1rem;
    }
    
    #mer_info ul {
        list-style: none;
        padding: 0;
    }
    
    #mer_info ul li {
        margin-bottom: 0.5rem;
    }
    
    #mer_info ul li a {
        color: #3a3a3a;
        text-decoration: none;
    }
    
    #mer_info ul li a:hover {
        text-decoration: underline;
    } 

    #main_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 600px 1100px 300px;
        grid-template-areas:
        "he he"
        "tf tf"
        "ts ts"
        "fo fo";
    }
    
    #trana_friidrott {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: whitesmoke;
        padding: 20px;
        grid-area: tf;
    }
    
    #bilder_friidrott {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        width: 500px;
    }
    .bilden_till_friidrott {
        border-radius: 20px;
        width: 200px;
        height: auto;
    }
    
    #trana_friidrott_text {
        width: 500px;
    }
    
    #rubrik_trana_friidrott {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        font-size: 55pt;
        color: white;
        height: 120px;
        width: 800px;
        background-color: indigo;
        border-radius: 20px;
    }
    
    #lank_friidrottskola {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        flex-direction: column;
        height: 80px;
        width: 300px;
        background-color: indigo;
        border-radius: 20px;
    
    }
    
    .avgift_rubrik {
        color: white;
        font-size: 21pt;
        font-family: 'Playfair Display', serif;
    }

    #lank_till_friidrottskola {
        font-size: 21pt;
        font-family: 'Playfair Display', serif;
        text-decoration: none;
        color: white;
    }
    
    
    #tekniklager_friidrottskola {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: whitesmoke;
        flex-direction: row;
        grid-area: ts;
    }
    
    #friidrottsskola_ruta {
        display: flex;
        height: auto;
        background-color: indigo;
        width: 450px;
        height: 900px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
      
    }
    
    .ruta_rubrik {
        display: flex;
        align-items: center;
        background-color: rgb(124, 80, 158);
        justify-content: center;
        font-size: 34pt;
        border: 1px solid black;
        border-radius: 20px;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        width: 350px;
    }
    
    .ruta_for_text {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: auto;
        width: 400px;
        background: rgb(124, 80, 158);
        border: solid 1px black;
        border-radius: 20px;
    }
    
    #teknik_ruta {
        display: flex;
        height: auto;
        background-color: indigo;
        width: 450px;
        height: 900px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border: solid 1px black;
        border-radius: 20px;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: lightcyan;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .nav_active {
        transform: translateY(0px);
    }

    
}